<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>

<div class="container-fluid header">
    <div class="header">
        <div class="row">
            <h2 class="col-sm-3 col-md-2 col-lg-2">Pay My Buddy</h2>
            <nav class="col-sm-8 offset-sm-2 col-md-6 offset-md-4 col-lg-3 offset-lg-7 ">
                <ul class="nav">
                    <li role="presentation">Home</li>
                    <li role="presentation"><a href="transfer.html">Transfer</a></li>
                    <li role="presentation"><a href="profile.html">Profile</a></li>
                    <li role="presentation"><a href="contact.html">Contact</a></li>
                    <li role="presentation"><a href="logOff.html">Log off</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<nav class="nav-breadcrumb">
    <ol class="breadcrumb my-auto">
        <li class="breadcrumb-item">Home</li>
    </ol>
</nav>

<div class="container table-head col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
    <div class="row">
        <h3 class="col-md-6 my-auto py-2 text-start">Last Transaction</h3>
    </div>
    <div class="table-responsive">
        <table class="table">
            <div class=" px-4">
                <div class="row g-3">
                    <div class="col-md-6">
                        <thead>
                        <tr>
                            <th scope="col">Connections</th>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="first">
                            <th scope="row">name</th>
                            <td>description</td>
                            <td>#€</td>
                        </tr>
                        </tbody>
                    </div>
                </div>
            </div>
        </table>
    </div>
</div>

<div class="container table-head col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
    <div class="row">
        <h3 class="col-md-6 my-auto text-start">Bank Account</h3>
        <div class=" button col-md-6 text-end">
            <a class=" btn btn-primary btn-lg" href="#" role="button">Reload</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr class="first">
                    <th scope="row">IBAN</th>
                    <td>BankAccountIban</td>
                </tr>
                <tr>
                    <th scope="row">SWIFT</th>
                    <td>BankAccountSwift</td>
                </tr>
                <tr class="last">
                    <th scope="row">Balance</th>
                    <td>BankAccountBalance</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>