<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log off</title>

  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>
<div class="container col-md-3 col-xs-5 col-sm-3">
  <div class="title">
    <h2>Pay My Buddy</h2>
  </div>
  <div class="col-md-9 offset-md-2">
  <p class="pb-4">You have been successfully logged out</p>
  </div>
    <div class="btn-form ">
      <a class="btn btn-primary btn-lg" href="login.html" type="button">Sign in</a>
    </div>

</div>
</body>
</html>