<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>

    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../../static/css/delete.css">
</head>
<body>
<div class="container col-md-3 col-xs-5 col-sm-3">
    <div class="title">
        <h2>Pay My Buddy</h2>
    </div>
    <form>
        <div class="inner-addon">
            <p class="col-md-11 offset-md-1 pb-2">Are you sure you want to delete your account?</p>
            <i class="bi bi-asterisk"></i>
            <input type="text" class="form-control" placeholder="Password" required/>
            <i class="bi bi-asterisk"></i>
            <input type="text" class="form-control" placeholder="Confirm Password" required/>
        </div>
        <div class="btn-form">
            <a class="btn btn-danger "  type="submit">Delete</a>
        </div>
        <div class="btn-form py-1">
            <a class="btn btn-success btn-lg" href="profile.html" type="button">Back</a>
        </div>
    </form>
</div>
</body>
</html>