<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Profile</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../../static/css/profile.css" type="text/css" th:href="@{/css/profile.css}">
</head>
<body>

<div class="container-fluid header">
    <div class="header">
        <div class="row">
            <h2 class="col-sm-3 col-md-2 col-lg-2">Pay My Buddy</h2>
            <nav class="col-sm-8 offset-sm-2 col-md-6 offset-md-4 col-lg-3 offset-lg-7 ">
                <ul class="nav">
                    <li role="presentation"><a href="home">Home</a></li>
                    <li role="presentation"><a href="transfer">Transfer</a></li>
                    <li role="presentation">Profile</li>
                    <li role="presentation"><a href="contact">Contact</a></li>
                    <form th:action="@{/logout}" method="post">
                        <li role="presentation">
                            <input type="hidden" name="_csrf" value="07b8ec05-fe21-4819-80b1-2ad57ae9450e">
                            <input type="submit" th:href="@{/logout}" value="Log off"></li>
                    </form>
                </ul>
                </ul>
            </nav>
        </div>
    </div>
</div>
<nav class="nav-breadcrumb">
    <ol class="breadcrumb my-auto">
        <li class="breadcrumb-item"><a href="home.html">Home</a></li>
        <li class="breadcrumb-item">Profile</li>
    </ol>
</nav>

<div class="container table-head col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
    <div class="row">
        <h3 class="col-md-6 my-auto py-2 text-start">Last Transaction</h3>
    </div>
    <div class="table-responsive">
        <table class="table">
            <div class=" px-4">
                <div class="row g-3">
                    <div class="col-md-6">
                        <thead>
                        <tr>
                            <th scope="col">Connections</th>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="first">
                            <th scope="row">name</th>
                            <td>description</td>
                            <td>#€</td>
                        </tr>
                        </tbody>
                    </div>
                </div>
            </div>
        </table>
    </div>
</div>
<div class="container form-head col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
    <div class="row">
        <h3 class="col-md-6 my-auto text-start">Profile</h3>
        <div class=" button col-md-6 text-end">
            <button class="text-end btn btn-primary btn-lg" type="submit">Save</button>
        </div>
        <form class="form-profile">
            <div class="bg-secondary-soft px-4 py-5">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">First Name *</label>
                        <input type="text" class="form-control" aria-label="First name"
                               value="#QUERY USER FIRSTNAME"/>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Last Name *</label>
                        <input type="text" class="form-control" aria-label="Last name" value="#QUERY USER LASTNAME"/>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email *</label>
                        <input type="email" class="form-control" id="inputEmail4" value="#QUERY USER EMAIL"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container form-head col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
    <div class="row">
        <h3 class="col-md-6 my-auto text-start">Profile</h3>
        <div class=" button col-md-6 text-end">
            <button class="text-end btn btn-primary btn-lg" type="submit">Save</button>
        </div>
        <form class="form-password">
            <div class="bg-secondary-soft px-4 py-5">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="exampleInputPassword1" class="form-label">Old password *</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" required/>
                    </div>
                    <div class="col-md-6">
                        <label for="exampleInputPassword2" class="form-label">New password *</label>
                        <input type="password" class="form-control" id="exampleInputPassword2" required/>
                    </div>
                    <div class="col-md-12">
                        <label for="exampleInputPassword3" class="form-label">Confirm Password *</label>
                        <input type="password" class="form-control" id="exampleInputPassword3" required/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container table-head col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
    <div class="row">
        <h3 class="col-md-6 my-auto text-start">Bank Account</h3>
        <div class=" button col-md-6 text-end">
            <a class=" btn btn-primary btn-lg" href="#" role="button">Reload</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr class="first">
                    <th scope="row">IBAN</th>
                    <td>BankAccountIban</td>
                </tr>
                <tr>
                    <th scope="row">SWIFT</th>
                    <td>BankAccountSwift</td>
                </tr>
                <tr class="last">
                    <th scope="row">Balance</th>
                    <td>BankAccountBalance</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row delete col-md-2 offset-md-5 mb-3">
    <a class=" btn btn-danger" href="delete.html" role="button">Delete Account</a>
</div>
</body>
</html>