<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Error</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
  <link rel="stylesheet" href="../css/error.css" type="text/css" th:href="@{/css/error.css}"/>
</head>

<body>
<div class="container col-md-3 col-xs-5 col-sm-3">
  <div class="title">
    <h2>500 error</h2>
  </div >
  <div class="alert alert-danger">
    <p class="text-danger">Opss! <br/>
      We have a problem and we are working hard to fix it.</p>
  </div>
</div>
</body>
</html>