body {
    margin: 0px
}

.container-fluid .header{
    padding: 2px;
}

h2 {
    background-image: linear-gradient(to left, #9ab82e, #2eb82e);
    font-size: 1.3em;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px 30px;
}

.header nav {
    padding-top: 10px;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav li {
    padding-top: 5px;
    padding-left: 20px;
    color: #046ad7;
}

.nav-breadcrumb{
    display: flex;
    justify-content: left;
    align-content: center;
    background-color: #f3f3f3;
    height: 3em;
    margin-bottom: 2em;
}
.breadcrumb{
    margin-left: 30px;
    width: 9em;
    justify-content: space-around;
}

.breadcrumb li{
    color: #a4a4a4;
}

.table-head{
    padding: 0px;
    margin-bottom: 2em ;
}

.table thead tr th, .table tbody tr th, .table tbody tr td{
    background-color: #f3f3f3;
    border: none;
}

.btn-lg{
    font-size: 1.6em;
    padding: 10px 40px;
}
